* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.logo-mario {
    height: 200px;
}

button {

    color: white;
    background-color: #c51111;
    border-radius: 3px;
    border: none;
    width: 200px;
    height: 50px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 30px;
}

.imagem-mario-luigi {

    height: 500px;
}

body {
    height: 100vh;
    color: white;
}

.caixa-mãe {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 100px;
    height: 100vh;
}

.caixa-principal {
    width: 40%;

}

.caixa-video {
    position: fixed;
    top: 0;
    z-index: -1;

}

video {
    min-height: 100%;
    min-width: 100%;
    position: fixed;
    top: 0;
}

.mascara {
    height: 100%;
    width: 100%;
    background: linear-gradient(109deg, rgba(10, 12, 16, 0.99) 15%, rgba(10, 12, 16, 0.7) 50%, rgba(10, 12, 16, 0.99) 85%);
    ;
    position: fixed;
    top: 0;
}

p {
    color: white;
    font-size: 20px;
}

.link-whatsapp img {
    height: 60px;
    position: fixed;
    right: 20px;
    bottom: 20px;

}

.header {
    display: flex;
    align-items: center;
    gap: 30px;
    margin: 30px;


}

.header img {
    height: 60px;
}

.header a {
    color: white;
    font-size: 24px;
    cursor: pointer;

}

.header a:hover {
    color: #c51111;
    font-size: 26px;
    transition: 0.5s ease-out;
}

.botão :hover {

    background-color: rgb(252, 1, 1);
    font-size: 15px;
    transition: 1s ease-out;
}

.formulario-fale-conosco {

    background-color: white;
    display: flex;
    gap: 20px;
    flex-direction: column;
    position: fixed;
    top: 30%;
    left: -307px;
    padding: 20px;
    border-radius: 5px;
    transition: left 1s ease-in-out;
    transform: translateX(-50%);
}

input {
    height: 40px;
    border-radius: 5px;
    border: 1px solid gray;
    padding-left: 5px;
    outline-color: #18d80f; }

textarea {
    height: 100px;
    width: 270px;
    border-radius: 5px;
    border: 1px solid gray;
    padding-left: 5px;
    outline-color: #18d80f; }

.mascara-formulario {
    visibility: hidden;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vw;
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(115, 112, 105, 0.1881127450980392) 100%, rgba(0, 212, 255, 1) 100%);
    transition: visibility 1s ease-in-out; }




    @media(max-width: 1100px) {

        p {
            display: none;
        }

        .caixa-mãe {
            flex-direction: column;
            justify-content: flex-start;
            padding: 10px;
        
        }

.caixa-principal {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.imagem-mario-luigi {

width: 80vw;
height: auto;
}

.header {
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content:center ;
}

.header img {
    display: none;
}

.header a {
font-size: 20px;
}
    }

    /*
 midia query
max => valor menor que x-px,aplica o css MEDIA
min => valor maior que x-px,aplica o css MEDIA */

/*    
inicial

top:30%;
left:-300px;

final

top: 30%;
left: 50%;
transform: translateX (-50%); */